source https://nuget.org/api/v2

framework: net46
redirects: on

nuget Fake
nuget FSharpx.TypeProviders.XAML
nuget RavenDB.Server
nuget Cricket 0.0.8-alpha
nuget FSharp.Data
nuget FSharp.Charting
nuget Aether
nuget canopy
nuget Selenium.Support
nuget Selenium.WebDriver


nuget Fable.Core
nuget Fable.React
nuget Fable.ReactToolbox 
nuget Fable.Import.Browser
nuget Fable.Elmish
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR